body { 
  width: 100%;
  color: #4e4e4e;
  font-family: "Helvetica"
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5{
  margin: 0;
  font-weight: normal;
}
h2{
  font-size: 1.5em;
}
h2 span{
  color: #999;
}
h3{
  margin-bottom: 10px;
}
.container { 
  margin: 30px 20px;
}
.strapline{
  font-size: 1.25em;
  margin-bottom: 10px;
}
.strapline span{
  border-bottom: 3px solid red;
}
.strapline:after {
  background-color: red;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: center;
  width: 85%;
}
.strapline:before {
  margin-left: -50%;
}
.strapline:after {
  left: 0.5em;
  margin-right: -50%;
}

.accordion{
  background-color: #dae9f4;
  color: #3399d2;
  padding: 10px;
  margin-bottom: 10px;
}
.accordion p{
  margin: 0;
  color: #999;
}
.accordion-content{
  margin: 0 -10px 0 -10px;
  background-color: #fff;
  color: #3399d2;
  display: none;
}
.active{
  display: block;
}
.accordion-content p{
  padding: 5px;
  border-bottom: 1px solid #dae9f4;
  vertical-align: center;
}
.rating, .prev-price, .current-price, .text{
  display: inline-block;
  float: right;
}
.rating{
  font-size: 14px;
  width: 50px;
  background: url(/images/star.png) 11px 3px no-repeat;
}
.prev-price{
  color: #555;
  text-decoration: line-through;
}
.current-price{
  color: #00B000;
  font-weight: strong;
}