body { 
  width: 100%;
  color: #4e4e4e;
  font-family: "Helvetica"
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5{
  margin: 0;
  font-weight: normal;
}
h2{
  font-size: 1.5em;
}
h2 span{
  color: #999;
}
h3{
  margin-bottom: 10px;
}
.container { 
  margin: 30px 20px;
}
.strapline{
  font-size: 1.25em;
  margin-bottom: 10px;
}
.strapline span{
  border-bottom: 3px solid red;
}
.strapline:after {
  background-color: red;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: center;
  width: 85%;
}
.strapline:before {
  margin-left: -50%;
}
.strapline:after {
  left: 0.5em;
  margin-right: -50%;
}
.panel{
  background-color: #dae9f4;
  color: #3399d2;
  padding: 10px 10px 0 10px;
}
.panel p{
  margin: 0;
  color: #999;
}
.panel-head{
  padding-left: 10px;
  padding-top: -3px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: url(/images/icon_arrow.png) top left no-repeat;
}
.panel-head.open{
  background: url(/images/icon_arrow_open.png) top left no-repeat;
}
.panel-content{
  margin: 0 -10px 0 -10px;
  background-color: #fff;
  color: #3399d2;
  display: none;
}
.panel-content .details{
  padding: 5px;
  border-bottom: 1px solid #dae9f4;
  vertical-align: center;
  margin-left: 15px;
}
.panel-content .details a {
  color: #5299d3;
}
.panel-content > a, .container > a{
  display: inline-block;
  width: 235px;
  font-weight: bold;
  margin: 10px 5px;
  color: #3399d2;
  font-size: 14px;
  background: url(/images/icon_arrow_right.png) center right no-repeat;
}
.panel-content > a{
  width: 207px;
  margin-left: 20px;
}
.container > a{
  width: 229px;
  float: right;
}
.meta{
  float: right;
}
.rating{
  display: inline-block;
  font-size: 14px;
  width: 25px;
  background: url(/images/star.png) 11px 3px no-repeat;
}
.text{
  display: inline-block;
  padding: 0 3px 0 0;
  color: #999;
}
.prev-price{
  color: #555;
  text-decoration: line-through;
}
.current-price{
  color: #00B000;
  font-weight: strong;
}
